[submodule "boringssl"]
	path = quiche/deps/boringssl
	url = https://github.com/google/boringssl.git
	ignore = dirty
[submodule "quiche/deps/boringssl"]
	path = quiche/deps/boringssl
	url = http://219.243.215.218:3000/jake/boringssl.git
